DATABASE_URL=mysql+pymysql://user:password@localhost:3306/dbname
SECRET_KEY=generate_your_own_secret_key
ALGORITHM=HS256

# SMTP Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
EMAILS_FROM_EMAIL=your_email@gmail.com
EMAILS_FROM_NAME=FinPulse
SMTP_TLS=True
SMTP_SSL=False
